html, body{
    margin: 0 auto;
    padding: 0;
    font-size: 62.5%;
}

body{
    background-color: #f1f1f1;
    box-sizing: border-box;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    text-align: center;    
    font-family: sans-serif;
}

header{
    background-color: #728BA8;
    margin: 0;
    width: 100%;
    height: 35rem;
    padding: 0;
}

main section{
    height:8.5rem;
    background-color:white;
    display:block;
    margin:0 auto;
    text-align: center;
    
}
main section div nav{
    height:3rem;
    margin:0;
    padding: 0;
}

main section div nav ul{
    height:100%;
    width:96rem;
    list-style: none;
    display: block;
    margin:0 auto;
    padding:0;
}
main section div nav ul li{
    font-size:1.3rem;
    width:calc(100%/13);
    height:100%;
    display:inline-block;
    margin:0;
    padding:0;
    float:left;
}

.button{
    display:block;
    margin:0 auto;  
    height:100%;
    width:100%;
    border-radius:.5rem;
    position:relative;
    bottom:23.5rem;
}
.active{
    background-color:white;
    color:grey;
    position:relative;
    top:5rem;
    transform: translateY(-.5rem);
}
.verticle_center{
    position:relative;
    top:.5rem;
}


.nav_bar{
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
    background-color:#728BA8;
    position:relative;
    top:0rem;
    display:inline-block;
    height:95%;
    width:95%;
    border-radius:.5rem;
}
.nav_bar:hover{
    background-color:white;
    color:grey;
}
.position_top{
    position:relative;
    top:.5rem;
}
.hero{
    background-color:white;
    position:relative;
    bottom:23rem;
    height:31rem;
    width:71%;
    display:inline-block;
    margin:0 auto;
    border-radius:.5rem;
    box-shadow: 0 .05rem .05rem .05rem grey;
}

main section div img{
    margin-top: .5rem;
    float:left;
    margin-left:.5rem;
}
#hero_div{
    height:90%;
    width:38%;
    position:relative;
    top:2rem;
    float:left;
    text-align: left;
    overflow: hidden;
    margin-left:3rem;
    font-family:sans-serif;
}
.hero_title{
    font-size:3rem;
    text-transform: capitalize;
    width:100%;
    display: block;
}
#hero_paragraph{
    font-size:1.4rem;
    width:100%;
    height:100%;
    line-height: 2.1rem;
}
.bracket_links{
    text-decoration:none;
    text-transform: capitalize;
}
#resource{
    height:22rem;
    width:71%;
    display: block;
    margin:0 auto;
    position: relative;
    top:7rem;
    font-size:1.4rem;
    border-radius:.7rem;
    box-shadow: 0 .05rem .05rem .05rem grey;
}
.resource_article{
    height:90%;
    width:calc(100%/3);
    display:inline-block;
    float:left;
}
.resource_titles{
    text-transform: capitalize;
    font-size: 3rem;
    display: inline-block;
    width:90%;
    height: auto;
    text-align: left;
    
}
.cys{
    text-transform: uppercase;
}
#address{
    display: inline-block;
    text-align: left;
    width:90%
}
.resource_links{
    text-decoration: none;
    text-transform: capitalize;
    display:inline-block;
    width:90%;
    height:auto;
    text-align: left;
    line-height: 2.3rem;
}
.margin_top{
    margin-top:1.5rem;
}

#news_about_location{
    height:73rem;
    width:71%;
    border-radius:.5rem;
    position:relative;
    top:9rem;
    box-shadow: 0 .05rem .05rem .05rem grey;
    display: block;
    margin:0 auto;
}

.news{
    width:calc(100%/3);
    float:left;
    height:100%;
    line-height: 2rem;
    display: inline-block;   
}
#about{
    width:calc(100%/3);
    float:left;
    height:100%;
    line-height: 1.9rem;
}
#location{
    width:calc(100%/3);
    float:right;
    height:100%;
    line-height: 1.7rem;
}

.font_size{
   font-size:1.4rem; 
}
#news_about_location p{
    width:85%;
    display: inline-block;
    text-align: left;
    opacity: .8;
}
#news_about_location h3{
    width:85%;
    display: inline-block;
    text-align: left;
    font-size:2rem;
    opacity: .6;
}
footer{
    height: 9rem;
    width:71%;
    display: inline-block;
    position:relative;
    top:10rem;
}
footer section{
    display: block;
    margin:0 auto;
    height: 100%;
}
footer a{
    font-size: 1.2rem;
    display: inline-block;
    float: left;
    position: relative;
    top:1rem;
    left:1rem;
    color:black;
    opacity:.8;
    text-decoration: none;
}
footer p{
    width:45%;
    font-size: 1.2rem;
    display: inline-block;
    float:right;
    opacity:.8;
}

/*about us page starts*/
#about_us_hero{
    height:95rem;
}
#about_us_hero_div{
    height:100%;
    width:60%;
    position:relative;
    top:2rem;
    float:left;
    text-align: left;
    overflow: hidden;
    margin-left:3rem;
    font-family:sans-serif;
    
}
.col_boxes{
    margin-top:3rem;
    width:36%;
    height:auto;
    display: inline-block;
    float:left;
    font-size:1.1rem;

}
.col_boxes div{
    border:.05rem solid grey;
}

.boxes{
    font-size:2rem;
    height: 4rem;
    margin:0;
    padding: 0;
    background:linear-gradient(lightgrey,white);
    
}
#box1 span{
    position: relative;
    top:.7rem;
    margin:0;
    padding:0;
}
.dotted{
    border-bottom: dotted lightgrey;
    padding-bottom: .5rem;
}
.p{
    width:85%;
    display: inline-block;
    text-align: left;
}
.black{
    color:black;
}

.color_black{
    color:black;
}
#box4_font{
    font-size:2.5rem;
}

#about_us_news_about_location{
    height:73rem;
    width:71%;
    border-radius:.5rem;
    position:relative;
    top:69rem;
    box-shadow: 0 .05rem .05rem .05rem grey;
    display: block;
    margin:0 auto;
    overflow: hidden;
}


#about_us_footer{
    position: relative;
    top:69rem;
}
/*about us page ends*/
/*contact page starts*/

.line_height{
    line-height: 4rem;
    padding: 0;
    margin:0;
}




